<h1>Login Page</h1>

<form action="/auth/login" method="POST">
  <label>Email
    <input type="text" name="email" placeholder="Type your email" />
  </label>
  <br />
  <br />
  <label>Password
    <input type="password" name="password" placeholder="Type your password" />
  </label>
  <br />
  <br />
  <button type="submit">Log In</button>
</form>