<div>
  <a href="/profile/update-profile">Update Yo Profile</a>
  <br />
  <a href="/profile/update-password">Update Yo Password Foo</a>
  <br />
  <a href="/profile/delete-account">Delete your account foo</a>
</div>