{{#if post.title}}
  <h1>{{post.title}}</h1>
{{/if}}
<h3>

  by
  {{post.author.name}}
</h3>

{{post.text}}

{{#if isAuthor}}
  <div>
    <a href="/posts/{{post._id}}/edit">Edit this post</a>
  </div>
{{/if}}